@{
    ViewData["Title"] = "A Passion For Ballroom";
}

<div class="text-center">
    <h1 class="display-4"><b>Its never too late to start...</b></h1>
    <p>I started my ballroom dance journey at the age of 41. If I can do it so can you!</p>
    <a class="btn btn-secondary btn-xl rounded-pill mt-5" asp-area="" asp-controller="Home" asp-action="LearnToDance">Start Your Journey Here</a>
    <div class="p-5">
        <img class="img-fluid rounded-circle" src="~/images/samba_matthew_winter23.jpeg" max-height="600px" max-width="600px"/>
    </div>
    <p>
        My first experience with ballroom started in a latin dance class at BYU in the winter of 2023.
        We learned the Rumba and Samba and competed in the Bronze Class Samba routine at the US National DanceSport competition.
        My partner and I took second place in the event at the Marriot Center
    </p>
    <div class="p-5">
        <img class="img-fluid rounded-circle" src="~/images/quickstep_dancesport_fall23.jpeg" />
    </div>
    <p>That fall I started taking a beginnings standard ballroom class in addition to continuing with another Latin class. 
        At the BYU dance competition lab in the fall, Ethan and took first place in the Bronze Waltz event. 
        I competed at DanceSport in Novemeber in the Gold Paso, Bronze Quickstep, and Silver Waltz.
        This time the event was held in the Wilkenson Center Ballroom. My Paso partner really fun and we got a call back.
        I also competeded with a new standard partner. We got third place in QuickStep and third place in Waltz.
    </p>
    <img class="img-fluid rounded-circle" src="~/images/silverwaltz_dancesport_fall23_chase.jpeg"  />
    </div>
    <p>Last night I competed again with my same standard partner at the winter dance lab competition in the Paso and Tango. We were rewarded first place in the Tango. 
        I also competed with another lab partner in the Waltz.</p>
    <div class="p-5">
        <img class="img-fluid rounded-circle" src="~/images/silvertango_lab_winter24_chase.jpeg"  />
    </div>
</div>
